In [2]:
import pandas as pd
import csv 
import matplotlib 
import streamlit as st

In [4]:
data_history_file = pd.read_csv("NFT_Sales_History.csv") 
data_collection_file = pd.read_csv("NFT_Top_Collections.csv")

In [5]:
data_history_file

,Date,Sales_USD_cumsum,Number_of_Sales_cumsum,Active_Market_Wallets_cumsum,Primary_Sales_cumsum,Secondary_Sales_cumsum,AverageUSD_cum,Sales_USD,Number_of_Sales,Active_Market_Wallets,Primary_Sales
0,2017-06-22,0.000000e+00,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-06-23,1.020300e+03,19,8.0,0,19.0,53.70,1.020300e+03,19.0,8.0,0.0
2,2017-06-24,2.261140e+03,40,21.0,0,21.0,56.53,1.240840e+03,21.0,13.0,0.0
3,2017-06-25,2.778690e+03,53,28.0,0,13.0,52.43,5.175500e+02,13.0,7.0,0.0
4,2017-06-26,3.203320e+03,67,34.0,0,14.0,47.81,4.246300e+02,14.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1601,2021-11-08,1.008803e+10,10913146,NaN,6541355,14829.0,924.39,7.706698e+07,59264.0,NaN,44435.0
1602,2021-11-09,1.014001e+10,10964025,NaN,6573511,18723.0,924.84,5.197508e+07,50879.0,NaN,32156.0
1603,2021-11-10,1.019902e+10,11008847,NaN,6601205,17128.0,926.44,5.901034e+07,44822.0,NaN,27694.0
1604,2021-11-11,1.023456e+10,11022782,NaN,6609013,6127.0,928.49,3.554317e+07,13935.0,NaN,7808.0
1605,2021-11-12,1.022836e+10,11020587,NaN,6607842,-1024.0,928.11,-6.196720e+06,-2195.0,NaN,-1171.0

In [6]:
for i in data_history_file:
    print(i)

Date
Sales_USD_cumsum
Number_of_Sales_cumsum
Active_Market_Wallets_cumsum
Primary_Sales_cumsum
Secondary_Sales_cumsum
AverageUSD_cum
Sales_USD
Number_of_Sales
Active_Market_Wallets
Primary_Sales

In [7]:
df_history = pd.DataFrame(data_history_file) 
df_collections = pd.DataFrame(data_collection_file)

In [8]:
df_history

,Date,Sales_USD_cumsum,Number_of_Sales_cumsum,Active_Market_Wallets_cumsum,Primary_Sales_cumsum,Secondary_Sales_cumsum,AverageUSD_cum,Sales_USD,Number_of_Sales,Active_Market_Wallets,Primary_Sales
0,2017-06-22,0.000000e+00,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-06-23,1.020300e+03,19,8.0,0,19.0,53.70,1.020300e+03,19.0,8.0,0.0
2,2017-06-24,2.261140e+03,40,21.0,0,21.0,56.53,1.240840e+03,21.0,13.0,0.0
3,2017-06-25,2.778690e+03,53,28.0,0,13.0,52.43,5.175500e+02,13.0,7.0,0.0
4,2017-06-26,3.203320e+03,67,34.0,0,14.0,47.81,4.246300e+02,14.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1601,2021-11-08,1.008803e+10,10913146,NaN,6541355,14829.0,924.39,7.706698e+07,59264.0,NaN,44435.0
1602,2021-11-09,1.014001e+10,10964025,NaN,6573511,18723.0,924.84,5.197508e+07,50879.0,NaN,32156.0
1603,2021-11-10,1.019902e+10,11008847,NaN,6601205,17128.0,926.44,5.901034e+07,44822.0,NaN,27694.0
1604,2021-11-11,1.023456e+10,11022782,NaN,6609013,6127.0,928.49,3.554317e+07,13935.0,NaN,7808.0
1605,2021-11-12,1.022836e+10,11020587,NaN,6607842,-1024.0,928.11,-6.196720e+06,-2195.0,NaN,-1171.0

In [9]:
df_collections

,Index,Name,Volume,Volume_USD,Market_Cap,Market_Cap_USD,Sales,Floor_Price,Floor_Price_USD,Average_Price,Average_Price_USD,Owners,Assets,Owner_Asset_Ratio,Category,Website,Logo
0,0.0,basis.markets,27256.63,4.001818e+06,708.145455,103969.91560,366.0,39.50,5799.3900,74.471667,10933.930100,12.0,16.0,75.00,"Collectibles,Digital,Privilege",https://basis.markets/,https://content.solsea.io/files/thumbnail/1636...
1,1.0,Skeleton Crew Skulls,11381.25,1.670995e+06,106.656000,15659.23392,2075.0,0.67,98.3694,5.484940,805.298855,103.0,132.0,78.03,NaN,https://skeletoncrew.rip/,https://content.solsea.io/files/thumbnail/1633...
2,2.0,Flippies,6732.19,9.884201e+05,1663.863158,244288.38880,1504.0,0.80,117.4560,4.476190,657.194239,905.0,1638.0,55.25,NaN,https://www.flippies.art/,https://content.solsea.io/files/thumbnail/1632...
3,3.0,Meerkat Millionaires Country Club,3734.76,5.483375e+05,90.275000,13254.17550,395.0,3.79,556.4478,9.455089,1388.196109,19.0,23.0,82.61,NaN,https://meerkatmillionaires.club/,https://content.solsea.io/files/thumbnail/1632...
4,4.0,Stylish Studs,3191.15,4.685246e+05,165.000000,24225.30000,729.0,4.30,631.3260,4.377435,642.694984,28.0,50.0,56.00,NaN,https://stylishstuds.io,https://content.solsea.io/files/thumbnail/1632...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,595.0,NEO MONKEY BUSINESS,0.00,0.000000e+00,0.000000,0.00000,0.0,0.59,86.6238,0.000000,0.000000,1.0,2.0,50.00,NaN,neomonkey.business,https://content.solsea.io/files/thumbnail/1641...
588,596.0,Cops Game,0.00,0.000000e+00,0.000000,0.00000,0.0,3.99,585.8118,0.000000,0.000000,4.0,4.0,100.00,NaN,https://cops.game/,https://content.solsea.io/files/thumbnail/1641...
589,597.0,Floppa Syndicate,0.00,0.000000e+00,0.000000,0.00000,0.0,NaN,NaN,0.000000,0.000000,0.0,2.0,NaN,"2D,Art,Digital,Collectibles,Drawing",NaN,https://content.solsea.io/files/thumbnail/1641...
590,598.0,Duck BRO,0.00,0.000000e+00,0.000000,0.00000,0.0,0.20,29.3640,0.000000,0.000000,38.0,56.0,67.86,"Art,PFP,2D",NaN,https://content.solsea.io/files/thumbnail/1642...
591,599.0,CryptoPets,0.00,0.000000e+00,0.000000,0.00000,0.0,1.40,205.5480,0.000000,0.000000,16.0,23.0,69.57,NaN,https://cryptopets.tech,https://content.solsea.io/files/thumbnail/1642...